body {
  font: 10px sans-serif;
}

.y.axis path,
.y.axis line {
  fill: none;
  stroke: #aaa;
  shape-rendering: crispEdges;
}

.y.axis text, .x.axis text {
  fill: #aaa;
}

.x.axis path {
  display: none;
}

.count {
  fill: steelblue;
  stroke: white;
  stroke-width: 1px;
}

.month.odd {
  stroke: none;
  fill: #ddd;
}
.month.even {
  stroke: none;
  fill: white;
}
